@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #313131;
  scroll-behavior: smooth;
  z-index: 1;
  background: #fff;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  border-radius: 50px;
  background: #fafafa;
  resize: none;
  padding: 30px 25px;
  color: #313131;
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
  border: 1px solid transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #313131;
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #313131;
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #313131;
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #313131;
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  color: #313131;
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 1px solid #cecece;
  color: #313131;
}

.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox__check {
  left: 0px;
  bottom: 29%;
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 20px;
}

.checkbox__box {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #313131;
  border-radius: 5px;
  margin-top: 25px;
}

.checkbox__text {
  font-size: 14px;
  line-height: 114.28571%;
  font-weight: 400;
  color: #29042f;
  padding-left: 30px;
  display: inline-block;
  text-align: initial;
  margin-top: 20px;
}

input[type="checkbox"]:checked + .checkbox__box {
  background: url("../img/check.svg") no-repeat center/contain;
  border: 1px solid #039ae2;
}

input[type="radio"]:checked + .form__circle {
  border: 1px solid #039ae2;
}

input[type="radio"]:checked + .form__circle::after {
  position: absolute;
  content: "";
  background: #039ae2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hide li:not(:first-child) {
  display: none;
}

label {
  cursor: pointer;
}

label.error {
  margin-top: 5px;
  color: #fe7a7a;
  font-size: 14px;
  line-height: 114.28571%;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.content-padding {
  padding: 200px 0 0;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  line-height: 89.0625%;
  font-weight: 500;
  color: #0378ff;
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
}

.title::before {
  position: absolute;
  content: "";
  color: transparent;
  -webkit-text-stroke: 0.5px #03e69f;
  -moz-text-stroke: 0.5px #03e69f;
  -ms-text-stroke: 0.5px #03e69f;
  left: 3px;
  top: 2px;
  z-index: -1;
}

@supports (-webkit-text-stroke: 1px #0378ff) {
  .title__transperent {
    display: block;
    margin: 10px 0 0 145px;
    color: transparent;
    -webkit-text-stroke: 1px #0378ff;
    -moz-text-stroke: 1px #0378ff;
    -ms-text-stroke: 1px #0378ff;
  }
}

.btn {
  background: #039ae2;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 116.66667%;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 42px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  color: #fafafa;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:focus {
  color: #fafafa;
  background: #039ae2;
  border: 1px solid transparent;
}

.iti.iti--allow-dropdown {
  margin-top: 35px;
}

.iti.iti--allow-dropdown input {
  width: 100%;
}

.iti__country-list {
  z-index: 200;
}

.iti__flag {
  background-image: url("../img/flags.png");
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fafafa;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #0378ff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 105px;
}

.header__logo {
  margin-right: 15px;
}

.header__navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:first-child) {
  margin-left: 60px;
}

.menu__item.active {
  z-index: 100;
}

.menu__link {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
  color: #313131;
  text-transform: uppercase;
}

.icon-menu {
  display: none;
}

.menu-buttons {
  background: #039ae2;
  border: 1px solid transparent;
  border-radius: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  color: #fafafa;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 15px;
  line-height: 90%;
  font-weight: 600;
  max-width: 180px;
  height: 52px;
  color: #fafafa;
  display: none;
}

.menu-buttons:hover,
.menu-buttons:focus {
  background: #0378ff;
  border: 1px solid #039ae2;
  color: #fafafa;
}

.menu-buttons:focus {
  background: #039ae2;
}

.menu-buttons:not(:last-child) {
  margin-right: 16px;
}

.preview {
  background: url("../img/fullscreen1.jpg") no-repeat center/cover;
  margin: 0 60px 100px;
}

.preview__body {
  max-width: 1115px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0;
  min-height: 740px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card {
  max-width: 260px;
  width: 100%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.55);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 8px;
  height: 100%;
  min-height: 170px;
}

.card:last-child {
  background: rgba(3, 154, 226, 0.55);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.card__number {
  border: 1px solid #0378ff;
  border-radius: 50%;
  margin-bottom: 15px;
  width: 21px;
  height: 21px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 91.66667%;
  font-weight: 600;
  color: #0378ff;
}

.card__text {
  font-size: 22px;
  line-height: 127.27273%;
  font-weight: 600;
  color: #0378ff;
}

.card__text-surv {
  font-size: 24px;
  line-height: 112.5%;
  font-weight: 600;
  color: #03e69f;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.card__arrow {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #03e69f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__icon {
  width: 19.6px;
  height: 13px;
}

.about {
  padding: 100px 0;
}

.about__title::before {
  content: "Find out more";
}

.about__text {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
  color: #313131;
  max-width: 420px;
}

.about__brand {
  color: #999;
}

.about__wrapper {
  background: url("../img/bg.png") no-repeat center/cover;
}

.about__cards {
  margin-left: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.about-card {
  max-width: 315px;
  padding: 45px 20px 50px;
  border: 1px solid #575757;
  border-radius: 2px;
  margin-top: 60px;
}

.about-card_aside {
  margin-left: 55px;
  margin-right: 55px;
}

.about-card:nth-child(2n) {
  border-right: 0;
  border-left: 0;
  border-right: 0;
}

.about-card__icon-wrapper {
  margin-bottom: 120px;
}

.about-card__title {
  font-size: 24px;
  line-height: 112.5%;
  font-weight: 600;
  color: #039ae2;
  margin-bottom: 20px;
}

.about-card__text {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

.should {
  padding: 100px 0;
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.should__title::before {
  content: "What should";
}

.accordion {
  margin: 50px 0 0 145px;
}

.accordion__item {
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid #313131;
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 15px 30px 0;
}

.accordion__header {
  position: relative;
}

.accordion__content {
  display: none;
  max-width: 680px;
  max-height: 350px;
  -webkit-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
  overflow-y: auto;
  padding: 40px 0 30px;
}

.accordion__text {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

.accordion__text:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  max-width: 680px;
}

i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 50%;
  border-radius: 2px;
}

i:before,
i:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 1px;
  background: #313131;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  -o-transition: transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

i:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

i:after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.show .accordion__content {
  display: block;
}

.show i:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show i:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.survey {
  background: url("../img/fullscreen2.jpg") no-repeat center/cover;
  padding: 85px 0;
  margin: 100px 60px 120px;
}

.survey__wrapper {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 14px;
  padding: 35px 40px 30px;
  max-width: 480px;
  min-height: 608px;
}

.survey__body {
  width: 100%;
  overflow: hidden;
}

.survey__prev {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.survey__prev.disable {
  color: #d0d0d0;
}

.survey__prev.disable .survey__arrow {
  fill: #d0d0d0;
}

.survey__arrow {
  width: 18px;
  height: 20px;
  fill: #313131;
  margin-right: 3px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.survey__progres-number {
  position: relative;
  margin-right: 80px;
}

.survey__progres-number::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #313131;
  left: 18px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.survey__progress-bar {
  font-size: 16px;
  line-height: 90%;
  margin-bottom: 15px;
}

.survey__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.survey__try-again {
  font-size: 12px;
  line-height: 91.66667%;
  font-weight: 600;
  color: #0378ff;
  text-decoration: underline;
  margin-bottom: 45px;
  cursor: pointer;
}

.form__body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700%;
}

.form__body {
  width: 14.28%;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}

.form__title {
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  color: #313131;
}

.form__content {
  min-height: 330px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content.no-title {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__radio-btn {
  position: relative;
}

.form__radio-btn:not(:last-child) {
  margin-bottom: 25px;
}

.form__radio-btn input[type="radio"] {
  left: 0px;
  bottom: 29%;
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: 1px;
  height: 1px;
}

.form__input {
  background: #fafafa;
  border: 1px solid #cecece;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  height: 55px;
  padding: 10px 25px;
  font-size: 15px;
  line-height: 90%;
  font-weight: 400;
  color: #313131;
}

.form__input:not(:first-child) {
  margin-top: 35px;
}

.form__input::-webkit-input-placeholder {
  color: #999;
  font-size: 15px;
  line-height: 90%;
  font-weight: 400;
}

.form__input::-moz-placeholder {
  color: #999;
  font-size: 15px;
  line-height: 90%;
  font-weight: 400;
}

.form__input:-ms-input-placeholder {
  color: #999;
  font-size: 15px;
  line-height: 90%;
  font-weight: 400;
}

.form__input::-ms-input-placeholder {
  color: #999;
  font-size: 15px;
  line-height: 90%;
  font-weight: 400;
}

.form__input::placeholder {
  color: #999;
  font-size: 15px;
  line-height: 90%;
  font-weight: 400;
}

.form__checkbox-wrapper {
  padding-top: 15px;
}

.form__text {
  padding-left: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
}

.form__thank {
  font-size: 54px;
  line-height: 114.81481%;
  font-weight: 400;
  color: #039ae2;
  margin: 15px 0 35px;
}

.form__thank-text {
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 140.90909%;
  font-weight: 400;
  color: #313131;
}

.form__thank-text span {
  color: #999;
}

.form__circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #313131;
  border-radius: 50%;
  top: 3px;
}

.form__button-next {
  background: #039ae2;
  border: 1px solid transparent;
  border-radius: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  color: #fafafa;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 15px;
  line-height: 90%;
  font-weight: 600;
}

.form__button-next:hover,
.form__button-next:focus {
  background: #0378ff;
  border: 1px solid #039ae2;
  color: #fafafa;
}

.form__button-next:focus {
  background: #039ae2;
}

.form__button-next.hidden {
  display: none;
}

.policy {
  color: #313131;
}

.policy__body {
  max-width: 760px;
  margin: 130px 0 160px;
}

.policy__title {
  font-size: 64px;
  line-height: 90%;
  font-weight: 500;
  color: #0378ff;
  margin-bottom: 80px;
}

.policy__text {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

.policy__text:not(:last-child) {
  margin-bottom: 25px;
}

.policy__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.policy__subtitle {
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer {
  background: #001e40;
  color: #fafafa;
  margin-top: auto;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 50px;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item:not(:first-child) {
  margin-left: 60px;
}

.footer__link {
  color: #fafafa;
  font-size: 17px;
  line-height: 152.94118%;
  font-weight: 400;
}

.footer__content {
  padding: 50px 0 45px;
  border: 1px solid #fafafa;
  border-left: 0;
  border-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text-wrapper {
  max-width: 450px;
}

.footer__title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 400;
}

.foot-card {
  background: #00244d;
  padding: 36px 33px 30px;
  border-radius: 8px;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 380px;
  width: 100%;
}

.foot-card__title {
  color: #03e69f;
  font-size: 14px;
  line-height: 90%;
  font-weight: 400;
  margin: 11px 0 0 42px;
  position: relative;
  display: inline-block;
}

.foot-card__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: -4px;
  background: #03e69f;
}

.foot-card__text {
  max-width: 300px;
  font-size: 16px;
  line-height: 137.5%;
  font-weight: 400;
}

.foot-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-size: 15px;
  line-height: 140%;
  font-weight: 400;
}

.foot-policy__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-policy__item:not(:last-child) {
  margin-right: 60px;
}

.foot-policy__link {
  font-size: 15px;
  line-height: 140%;
  font-weight: 400;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #313131;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }
}

@media (max-width: 1245px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  input,
  textarea {
    font-size: 21px;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 21px;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 21px;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 21px;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 21px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 21px;
  }

  .menu__link {
    font-size: 21px;
  }

  .card__text {
    font-size: 36px;
  }

  .card__text-surv {
    font-size: 28px;
  }

  .about__text {
    font-size: 21px;
  }

  .about-card__title {
    font-size: 28px;
  }

  .about-card__text {
    font-size: 21px;
  }

  .accordion__text {
    font-size: 21px;
  }

  .footer__header {
    padding: 20px 0;
  }

  .footer__text {
    font-size: 21px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  input,
  textarea {
    font-size: 18px;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 18px;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 18px;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 18px;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 18px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
  }

  .title {
    font-size: 48px;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .header__burger-wrapper {
    width: 100%;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    margin: 0;
    padding: 30px 8px;
    list-style: none;
    background: #fafafa;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  .menu.active {
    visibility: visible;
    right: 0;
    z-index: 10;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }

  .menu__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__wrapper.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item:not(:first-child) {
    margin: 0 0 30px 0;
  }

  .menu__link {
    font-size: 18px;
  }

  .menu-buttons {
    font-size: 18px;
  }

  .card__text {
    font-size: 24px;
  }

  .card__text-surv {
    font-size: 24px;
  }

  .about__text {
    font-size: 18px;
  }

  .about-card__title {
    font-size: 24px;
  }

  .about-card__text {
    font-size: 18px;
  }

  .accordion__text {
    font-size: 18px;
  }

  .accordion__title {
    font-size: 36px;
  }

  .form__button-next {
    font-size: 18px;
  }

  .footer__header {
    padding: 10px 0;
  }

  .footer__title {
    font-size: 36px;
  }

  .footer__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .menu.active {
    padding: 65px 25px 70px 16px;
  }
}

@media screen and (max-width: 768px) and (max-width: 576px) {
  .menu.active {
    padding: 30px 25px 40px 16px;
  }
}

@media (max-width: 768px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 44px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #313131;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 768px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 670px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 30px;
  }

  .menu {
    width: 100%;
  }

  .menu__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:first-child) {
    margin: 0 0 25px 0;
  }

  .icon-menu {
    top: 30px;
    width: 18px;
    height: 12px;
  }

  .menu-buttons {
    font-size: 16px;
  }

  .accordion__title {
    font-size: 26px;
  }

  .form__button-next {
    font-size: 16px;
  }

  .footer__header {
    padding: 7px 0;
  }

  .footer__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 576) {
  .card__text {
    font-size: 20px;
  }

  .card__text-surv {
    font-size: 22px;
  }

  .about-card__title {
    font-size: 22px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 410px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../img/flags@2x.png");
  }
}

.webp .iti__flag { background-image: url(../img/flags.webp); }

.webp .preview { background: url(../img/fullscreen1.webp) no-repeat center/cover; }

.webp .about__wrapper { background: url(../img/bg.webp) no-repeat center/cover; }

.webp .should { background-image: url(../img/bg2.webp); }

.webp .survey { background: url(../img/fullscreen2.webp) no-repeat center/cover; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {

  .webp .iti__flag { background-image: url(../img/flags@2x.webp); }
}