.survey {
   background: url("../img/fullscreen2.jpg") no-repeat center/cover;
   padding: 85px 0;
   margin: 100px 60px 120px;

   &__wrapper {
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(12px);
      border-radius: 14px;
      padding: 35px 40px 30px;
      max-width: 480px;
      min-height: 608px;
   }

   &__body {
      width: 100%;
      overflow: hidden;
   }

   &__prev {
      margin-bottom: 45px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.disable {
         color: $grey4;

         .survey__arrow {
            fill: $grey4;
         }
      }
   }

   &__arrow {
      width: 18px;
      height: 20px;
      fill: $black;
      margin-right: 3px;
      transform: rotate(-180deg);
   }

   &__progres-number {
      position: relative;
      margin-right: 80px;

      &::before {
         position: absolute;
         content: "";
         width: 60px;
         height: 1px;
         background: $black;
         left: 18px;
         top: 50%;
         transform: translate(0, -50%);
      }
   }

   &__progress-bar {
      font-size: 16px;
      line-height: 90%;
      margin-bottom: 15px;
   }

   &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
   }

   &__try-again {
      @include link;
      color: $blue2;
      text-decoration: underline;
      margin-bottom: 45px;
      cursor: pointer;
   }
}

.form {
   &__body-wrapper {
      display: flex;
      width: 700%;
   }

   &__body {
      width: 14.28%;
      transition: margin-left 0.3s ease-in-out;
   }

   &__title {
      @include fonts(20px, 28px, 600);
      color: $black;
   }

   &__content {
      min-height: 330px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &.no-title {
         justify-content: flex-end;
      }
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
   }

   &__radio-btn {
      position: relative;

      &:not(:last-child) {
         margin-bottom: 25px;
      }

      input[type="radio"] {
         left: 0px;
         bottom: 29%;
         opacity: 0;
         position: absolute;
         z-index: 999;
         width: 1px;
         height: 1px;
      }
   }

   &__input {
      background: $white;
      border: 1px solid $grey2;
      box-sizing: border-box;
      border-radius: 14px;
      height: 55px;
      padding: 10px 25px;
      @include fonts(15px, 13.5px, 400);
      color: $black;

      &:not(:first-child) {
         margin-top: 35px;
      }

      &::placeholder {
         color: $grey3;
         @include fonts(15px, 13.5px, 400);
      }
   }

   &__checkbox-wrapper {
      padding-top: 15px;
   }

   &__text {
      padding-left: 30px;
      font-weight: 600;
      font-size: 15px;
      line-height: 125%;
   }

   &__thank {
      @include fonts(54px, 62px, 400);
      color: $blue1;
      margin: 15px 0 35px;
   }

   &__thank-text {
      margin-bottom: 35px;
      @include fonts(22px, 31px, 400);
      color: $black;

      span {
         color: $grey3;
      }
   }

   &__circle {
      position: absolute;
      width: 18px;
      height: 18px;
      border: 1px solid $black;
      border-radius: 50%;
      top: 3px;
   }

   &__button-next {
      @include button;

      &.hidden {
         display: none;
      }
   }
}
